@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
	:root {
		--background: #ffffff;
		--foreground: #070708;
		--card: #ffffff;
		--card-foreground: #070708;
		--popover: #ffffff;
		--popover-foreground: #070708;
		--primary: 	#18181b;
		--primary-foreground: #fafafa;
		--secondary: #f4f4f5;
		--secondary-foreground: 	#18181b;
		--muted: #f4f4f5;
		--muted-foreground: #71717a;
		--accent: #6da5c0;
		--accent-foreground: 	#18181b;
		--destructive: #dc2828;
		--destructive-foreground: #fafafa;
		--border: #6da5c0;
		--input: transparent;
		--ring: 	#18181b;
    --from-gradient: #082D33;
    --to-gradient: #04151A;
	}

	.dark:root {
		--background: #082D33;
		--foreground: #fafafa;
		--card: #09090b;
		--card-foreground: #fafafa;
		--popover: #09090b;
		--popover-foreground: #fafafa;
		--primary: #fafafa;
		--primary-foreground: 	#18181b;
		--secondary: 	#27272a;
		--secondary-foreground: #fafafa;
		--muted: 	#27272a;
		--muted-foreground: #a1a1aa;
		--accent: #6da5c0;
		--accent-foreground: #fafafa;
		--destructive: #dc2828;
		--destructive-foreground: #fafafa;
		--border: #6da5c0;
		--input: transparent;
		--ring: #d4d4d8;
    --from-gradient: #082D33;
    --to-gradient: #04151A;
	}
}
