@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --activity-indicator: #00171E;
    --bg-brand-primary-skeleton: #E2E2E2;
    --bg-brand-primary: #FFFFFF;
    --bg-btn-primary: #0C6971;
    --bg-btn-quaternary: #6DA5C0;
    --bg-btn-secondary: #6DA5C0;
    --bg-btn-tertiary: #6DA5C04D;
    --bg-device-primary: #FFFFFF33;
    --bg-icons-primary: #2C2C2C;
    --bg-icons-white: #FFFFFF;
    --bg-line-primary: #070708;
    --bg-modal-header-primary: #04151A;
    --bg-modal-primary-transparent: #0C2229C7;
    --bg-modal-primary: #0C2229;
    --border-primary: #6DA5C0;
    --border-secondary: #070708;
    --gradient-control-end: #6DA5C01A;
    --gradient-control-mid1: #3F60701A;
    --gradient-control-mid2: #50798D1A;
    --gradient-control-start: #334D5A1A;
    --gradient-from: #FFFFFF;
    --gradient-to: #FFFFFF;
    --gradient-weather-end: #6DA5C04D;
    --gradient-weather-mid1: #3F60704D;
    --gradient-weather-mid2: #50798D4D;
    --gradient-weather-start: #334D5A4D;
    --notification-primary-active: #368E96;
    --notification-secondary: #008A08;
    --notification-tertiary: #50798D;
    --primary-foreground: #FAFAFA;
    --primary: #18181B;
    --text-btn-primary: #070708;
    --text-btn-white: #FAFAFA;
    --text-foreground-emphasis: #0C6971;
    --text-foreground-primary: #070708;
    --text-foreground-secondary: #929BA3;
    --text-foreground-tertiary: #6DA5C0;
    --text-modal-primary: #FFFFFF;
    --text-modal-secondary: #929BA3;
  }

  .dark:root {
    --activity-indicator: #00171E;
    --bg-brand-primary-skeleton: #082D33;
    --bg-brand-primary: #082D33;
    --bg-btn-primary: #0C6971;
    --bg-btn-quaternary: #6DA5C0;
    --bg-btn-secondary: #6DA5C0;
    --bg-btn-tertiary: #6DA5C04D;
    --bg-device-primary: #082D33CC;
    --bg-icons-primary: #A1A1AA;
    --bg-icons-white: #FFFFFF;
    --bg-line-primary: #FAFAFA;
    --bg-modal-header-primary: #04151A;
    --bg-modal-primary-transparent: #0C2229C7;
    --bg-modal-primary: #0C2229;
    --border-primary: #6DA5C0;
    --border-secondary: #FAFAFA;
    --gradient-control-end: #6DA5C01A;
    --gradient-control-mid1: #3F60701A;
    --gradient-control-mid2: #50798D1A;
    --gradient-control-start: #334D5A1A;
    --gradient-from: #082D33;
    --gradient-to: #04151A;
    --gradient-weather-end: #6DA5C04D;
    --gradient-weather-mid1: #3F60704D;
    --gradient-weather-mid2: #50798D4D;
    --gradient-weather-start: #334D5A4D;
    --notification-primary-active: #236C72;
    --notification-secondary: #008A08;
    --notification-tertiary: #50798D;
    --primary-foreground: #18181B;
    --primary: #FAFAFA;
    --text-btn-primary: #FAFAFA;
    --text-btn-white: #FAFAFA;
    --text-foreground-emphasis: #0C6971;
    --text-foreground-primary: #FAFAFA;
    --text-foreground-secondary: #929BA3;
    --text-foreground-tertiary: #6DA5C0;
    --text-modal-primary: #FAFAFA;
    --text-modal-secondary: #929BA3;
  }
}